1. Подключение к API и получение данных

Напишите скрипт на Python, который подключается к API и получает данные. \
Например, используйте публичное API https://jsonplaceholder.typicode.com/posts. \
Сохраните полученные данные в формате JSON в файл.

In [4]:
# импорт необходимых библиотек
import requests
import json

In [5]:
# получение данных по API
r = requests.get("https://jsonplaceholder.typicode.com/posts")

In [14]:
# запись данных в файл
if r.status_code == 200:
    with open("posts.json", "w") as outfile:
        json.dump(r.json(), outfile)
else:
    print("Не верный адрес API")

In [13]:
# проверка записи данных в файл
with open("posts.json", "r") as openfile:
    json_object = json.load(openfile)

print(json_object[:5])

[{'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}, {'userId': 1, 'id': 2, 'title': 'qui est esse', 'body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla'}, {'userId': 1, 'id': 3, 'title': 'ea molestias quasi exercitationem repellat qui ipsa sit aut', 'body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut'}, {'userId': 1, 'id': 4, 'title': 'eum et est occaecati', 'body': 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit'}, {'userId': 1, 'id': 5, 'title': 'nesciunt quas odio', 'body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque'}]

2. Обработка данных с использованием SQL

Представьте, что у вас есть таблица users в базе данных SQLite с полями id, name, и age. \
Напишите Python-скрипт, который подключается к этой базе данных, \
выбирает всех пользователей старше 30 лет и выводит их имена и возраст.

In [15]:
# импорт необходимых библиотек
import sqlite3

In [16]:
# подключение к базе данных
connection = sqlite3.connect("users.db")
# создание объекта подключения
cursor = connection.cursor()
print("База данных успешно подключена к SQLite")

База данных успешно подключена к SQLite

In [18]:
# создание таблицы users
cursor.execute("""CREATE TABLE IF NOT EXISTS users(
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
    )""")
connection.commit()

In [19]:
# данные пользователей
users = [
    ("User1", 20),
    ("User2", 30),
    ("User3", 27),
    ("User4", 31),
    ("User5", 38),
    ("User6", 43),
    ("User7", 18),
    ("User8", 26)
]

In [21]:
# сохранение данных пользователей в базу данных
cursor.executemany("""INSERT INTO users
                (name, age)
                VALUES(?, ?);""", users)
connection.commit()

In [22]:
# пользователи старше 30 лет
cursor.execute("""SELECT name, age
                FROM users
                WHERE age > 30;""")
three_results = cursor.fetchall()
print(three_results)

[('User4', 31), ('User5', 38), ('User6', 43)]

3. Объединение данных из разных источников

Напишите скрипт на Python, который объединяет данные из двух источников. \
Первый источник - это CSV-файл с информацией о продуктах (поля: product_id, product_name). \
Второй источник - это JSON-файл с данными о продажах (поля: sale_id, product_id, amount). \
Скрипт должен объединить данные по product_id \
и вывести итоговую таблицу с информацией о продажах для каждого продукта.

In [1]:
# импорт необходимых библиотек
import csv
import json
import pandas as pd

In [2]:
# информация о продуктах
products = [("product_id", "product_name"),
            (1, "морковь"),
            (2, "кортошка"),
            (3, "свекла")]

In [3]:
# запись данных в файл csv
with open("products.csv", "w", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerows(products)

In [8]:
# информация о продажах
sales = {
    "sale_id": [1, 2, 3, 4, 5, 6, 7],
    "product_id": [1, 1, 2, 2, 3, 3, 3],
    "amount": [203, 150, 130, 402, 48, 411, 532],
}

In [9]:
# запись данных в файл json
with open("sales.json", "w") as outfile:
        json.dump(sales, outfile)

In [4]:
# чтение данных с файла csv
df_products = pd.read_csv("products.csv")
df_products.head()

   product_id product_name
0           1      морковь
1           2     кортошка
2           3       свекла

In [10]:
# чтение данных с файла json
df_sales = pd.read_json("sales.json")
df_sales.head()

   sale_id  product_id  amount
0        1           1     203
1        2           1     150
2        3           2     130
3        4           2     402
4        5           3      48

In [11]:
# объединение данных по  product_id
df = df_sales.merge(df_products, on="product_id")
df.head()

   sale_id  product_id  amount product_name
0        1           1     203      морковь
1        2           1     150      морковь
2        3           2     130     кортошка
3        4           2     402     кортошка
4        5           3      48       свекла
5        6           3     411       свекла
6        7           3     532       свекла

4. Оптимизация скрипта

Дан следующий скрипт на Python для обработки списка чисел. \
Оптимизируйте его для повышения производительности. 

Исходный скрипт 

``` python
numbers = [i for i in range(1, 1000001)]
squares = []
for number in numbers:
squares.append(number ** 2)
```

In [1]:
# Оптимизированный скрипт
squares = [i**2 for i in range(1, 1000001)]

In [3]:
squares[:5]

[1, 4, 9, 16, 25]